.pageContainer {
    margin: 72px 0 144px 0;
}

.section:not(:last-child) {
    margin-bottom: 64px;
}

.section {
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

.sectionHeading {
    padding: 0;
    margin: 0 0 24px;
}


.codeWrapper {
    position: relative;
}

.codeBlock {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    margin-top: 32px;
    box-sizing: border-box;
    overflow: auto;
    background-color: #F4F4F4;
    & pre {
        background-color: #F4F4F4 !important;
    }
}

@media (max-width: 768px) {
    .codeBlock {
        padding-bottom: 72px;
    }
}

.codeCopyButton {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
